<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWU: Command Center</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"> <!-- Link to the main.css file -->
</head>
<body>

<header>
    <div id="logo">
        <img src="img/Command Center Logo.png" alt="SWU Logo">
        <div id="name">
            <div class="main">SWU</div>
            <div class="sub">Command Center</div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">How to Play</a></li>
            <li class="dropdown">
                <a href="#">Collection</a>
                <img id="dropdown-arrow" src="img/down-arrow.png" alt="Drop Down Arrow">
                <div class="dropdown-content">
                    <a href="#">My Collection</a>
                    <a href="#">Build a Deck</a>
                    <a href="#">Card Database</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Blog</a>
                <img id="dropdown-arrow" src="img/down-arrow.png" alt="Drop Down Arrow">
                <div class="dropdown-content">
                    <a href="#">News</a>
                    <a href="#">Explore</a>
                    <a href="#">My Blogs</a>
                    <a href="#">New Blog Post</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="username">
        <span>Username</span>
        <img id="user-icon" src="img/people.png" alt="User Icon">
    </div>
</header>

<img src="img/space2.png" alt="Space background" class="full-width">

<footer>
    <p>&copy; & &trade; Lucasfilm Ltd.</p>
    <p>&copy; 2023 Fantasy Flight Publishing, Inc. Fantasy Flight Games and the FFG logo are <sup>&reg;</sup> of Fantasy Flight Publishing, Inc. All rights reserved.</p>
</footer>

</body>
</html>
